<mat-grid-list cols="1" rowHeight="7:1" style="margin-bottom: 50px;">
  <mat-grid-tile>
    <h2>My Heroes</h2>
  </mat-grid-tile>
  </mat-grid-list>
<mat-grid-list cols="2" rowHeight="7:7">
  <mat-grid-tile  style="overflow-y: scroll;">
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name }} </span>
          <span class="surname">{{hero.surname}}</span>
        </button>
      </li>
    </ul>
  </mat-grid-tile>
  <mat-grid-tile>
<app-hero-detail [hero] = "selectedHero"></app-hero-detail>
  </mat-grid-tile>
  <!-- <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile> -->
</mat-grid-list>

